html, body {
    margin: 0;
    padding: 0;
}

.nasa-geo-map {
    margin-left: 200px;
    fill: none;
    pointer-events: all;
}

.state {
    fill: #aaa;
}

.county-border,
.state-border {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}